@media only screen and (max-width: 1300px) {
  h1 {
    font-size: 28px;
    line-height: 50px;
  }
}

@media only screen and (max-width: 900px) {
  .navLinks li a {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: normal;
  }
  #menu_icon1 {
    transform: scale(0.6) rotate(90deg);
    /*Doesn't keep its rotation*/
  }

  h1 {
    font-size: 26px;
    line-height: 50px;
  }
  .project_item {
    flex: 0 0 47%;
    height: 52vw;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 18px;
    line-height: 30px;
    /*text-align: center;*/
  }
  .mainTitle__top {
    min-width: 450px;
    align-self: unset;
  }
  .mainTitle__top img {
    max-height: 80%;
    display: none;
  }
  #menu_icon1 {
    transform: scale(0.5) rotate(90deg);
    /*Doesn't keep its rotation*/
  }
  main {
    margin: 40px 0px 0px;
  }
  .project_item {
    flex: 1 0 51%;
    height: 98vw;
    margin: 0px 40px 20px;
  }
  .animation {
    height: 30vh;
  }
}

@media only screen and (max-width: 320px) {
}
